# -------------------------------
# Python / Flask ignores
# -------------------------------
venv/
__pycache__/
pyvenv.cfg
.env
server/__pycache__/

# -------------------------------
# Node / React ignores
# -------------------------------
client/node_modules/
client/build/
client/.pnp
client/.pnp.js

# -------------------------------
# Logs
# -------------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -------------------------------
# Environment files
# -------------------------------
.env.local
.env.development.local
.env.test.local
.env.production.local

# -------------------------------
# Misc
# -------------------------------
.DS_Store
coverage/
